.btn-red{
    color: white;
    background-color: #a20000;
    border-color: #a20000;
}

.btn-green{
    color: white;
    background-color: #77d86a;
    border-color: #77d86a;
}

hr {
    border-top-color: rgba(0, 0, 0, 0.3);
}

.dash {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dash:hover {
    cursor: pointer;
}